[submodule "lib/wxWidgets"]
	path = lib/wxWidgets
	url = git@github.com:wxWidgets/wxWidgets.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "lib/podofo"]
	path = lib/podofo
	url = git@github.com:podofo/podofo.git
